<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="fondoPaginas">


    <header>
        <div class="head">
            <br>
            <center><img src="../img/minimioscuro.png" alt="logo" width="400" height="150"></center>
            <div class="lineaMenu">
                <hr>    
                <a href="../views/registry.html"> <img src="../img/ingresar2.png" align="right" alt="ingresar"
                        width="80" height="50"></a>

                <div class="menu">
                    <ul>
                        <li><a href="../index.html"><strong>Inicio</strong></a>
                        </li>
                    </ul>
                </div>
                <hr>
            </div>
        </div>
    </header>

    <div class="titulo">
        <hr>
        <h1><center>Productos</center></h1>
        <hr>
    </div>
    <div>
        <section class="textosColor">
            <hr>
            <h2>Ropa</h2>
            <hr>
        </section>
        <div class="grid-productos">
            <img src="../img/bodyGuitar2.png" alt="ropa" width="300" height="250">
            <img src="../img/vestidoPepas.png" alt="ropa" width="300" height="250">
            <img src="../img/conjunto-removebg-preview.png" alt="ropa" width="300" height="250">
            <img src="../img/bodyTirantes.png" alt="ropa" width="300" height="250">
            <img src="../img/vestidoMariposa.png" alt="ropa" width="300" height="250">
            <img src="../img/bodyGuitar1.png" alt="ropa" width="300" height="250">
        </div>
        <section class="textosColor">
            <hr>
            <h2>Juguetes</h2>
            <hr>
        </section>
        <div class="grid-productos">
            <img src="../img/jugueteDonas.png" alt="juguete" width="300" height="250">
            <img src="../img/juguetePiano.png" alt="juguete" width="300" height="250">
            <img src="../img/jugueteLegos.png" alt="juguete" width="300" height="250">
            <img src="../img/jugueteMusica.png" alt="juguete" width="300" height="250">
            <img src="../img/erizo-removebg-preview.png" alt="ropa" width="300" height="250">
            <img src="../img/mariposa-removebg-preview.png" alt="ropa" width="300" height="250">
        </div>
        <section class="textosColor">
            <hr>
            <h2>Mochilas</h2>
            <hr>
        </section>
        <div class="grid-productos">
            <img src="../img/bolsoDorado.png" alt="mochila" width="150" height="250">
            <img src="../img/bolsoGris.png" alt="mochila" width="300" height="250">
            <img src="../img/bolsoRosa.png" alt="mochila" width="300" height="250">
            <img src="../img/mochila-removebg-preview.png" alt="mochila" width="300" height="250">
            <img src="../img/mochilaGriss-removebg-preview.png" alt="mochila" width="300" height="250">
            <img src="../img/mochilaVerde-removebg-preview (1).png" alt="mochila" width="300" height="250">

        </div>
        <section class="textosColor">
            <hr>
            <h2>Coches</h2>
            <hr>
        </section>
        <div class="grid-productos">
            <img src="../img/cocheAzul.png" alt="cochebebe" width="300" height="250">
            <img src="../img/cocheGris.png" alt="cochebebe" width="300" height="250">
            <img src="../img/cocheRosa.png" alt="cochebebe" width="300" height="250">
            <img src="../img/cochefino-removebg-preview.png" alt="cochebebe" width="250" height="250">
            <img src="../img/descarga-removebg-preview (1).png" alt="cochebebe" width="300" height="250">
            <img src="../img/cochee.png" alt="cochebebe" width="300" height="250">

        </div>
    </div>

    <footer>
        <div class="fondoPiePaginas">
            <hr>
            <center>
                <h3 class="redes">Seguinos en nuestras redes sociales</h3>
            </center>
            <hr>
        </div>
        <div class="pie">
            <nav>
                <center><a href="./ubication.html">Ubicación</a>
                    <a href="./contact.html">Contacto</a>
                </center>
            </nav>
        </div>
    </footer>

    <br>

</body>
</html>