<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body class="fondoPaginas">

    <header>
        <center><img src="../img/minimioscuro.png" alt="logo" width="400" height="150"></center>
        <br>
        <div class="regresar">
            <a href="../index.html">Volver al inicio</a>
        </div>
        <br>
    </header>

    <section class="textosColor">
        <h3>Si es primera vez que ingresas deberás registrarte a continuación</h3>

        <form>

            <div class="divTable">
                <div class="divTableBody">
                <div class="divTableRow">
                <div class="divTableCell"><label for="fname">Nombre y apellido:</label></div>
                <div class="divTableCell"><input type="text" id="fname" name="fname" required></div>
                </div>
                <div class="divTableRow">
                <div class="divTableCell"><label for="email">Ingrese su email:</label></div>
                <div class="divTableCell"><input type="email" id="email" name="email" required validate></div>
                </div>
                <div class="divTableRow">
                <div class="divTableCell"><label for="domicilio">Domicilio:</label></div>
                <div class="divTableCell"><input type="text" id="domicilio" name="domicilio" required></div>
                </div>
                <div class="divTableRow">
                <div class="divTableCell"><label for="password">Contraseña:</label></div>
                <div class="divTableCell"><input type="pass" id="password" name="password" required></div>
                </div>
                <div class="divTableRow">
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell"><input type="submit" value="Enviar"></div>
                </div>
                </div>
                </div>
        </form>

    </section>
    <br>
    <br><br><br><br><br><br><br><br>

    <footer>
        <div class="fondoPiePaginas">
            <hr>
            <center>
                <h3 class="redes">Seguinos en nuestras redes sociales</h3>
            </center>
            <hr>
        </div>
        <div class="pie">
            <nav>
                <center><a href="./ubication.html">Ubicación</a>
                    <a href="./contact.html">Contacto</a>
                </center>
            </nav>
        </div>
    </footer>

    <br>
</body>

</html>